.home-container {
  display: flex;
}

.text-left {
  flex: 1;
  padding: 20px;
  font-family: "Josefin Sans";
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.img-right {
  flex: 1;
  justify-content: center;
  position: relative;
  text-align: center;
}

.btn-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Jolly Lodger", cursive;
  font-size: 25px;
  border: #443c68;
  border-radius: 30px;
  font-weight: bold;
  fill: black;
  background-color: transparent;
}

.btn-menu:hover {
  background-color: #443c68;
  border-radius: 30px;
  font-weight: bold;
  fill: black;
}

.title-name {
  color: white;
  font-size: 45px;
  font-family: "Jolly Lodger", cursive;
}

.cart-icon {
  color: white;
}

.img-home {
  padding: 10px;
  height: 250px;
  width: 300px;
}
