.eatable {
  display: flex;
  justify-content: center;
  font-family: "Jolly Lodger", cursive, sans-serif;
  stroke: white;
  fill: white 100%;
}

.sides {
  display: flex;
  justify-content: center;
  font-family: "Jolly Lodger", cursive, sans-serif;
  stroke: white;
  fill: white 100%;
}

.drinks {
  display: flex;
  justify-content: center;
  font-family: "Jolly Lodger", cursive, sans-serif;
  stroke: white;
  fill: white 100%;
}
