.navbar-container {
  display: flex;
  background-color: #443c68;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.cart-icon {
  color: white;
}

.home-icon {
  color: white;
}

.title-name {
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-family: "Jolly Lodger";
}
