body {
  background-color: #393053;
}

.navbar-container {
  display: flex;
  background-color: #443c68;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.footer-container {
  background-color: #443c68;
  width: 100%;
  height: 90px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.text-container {
  color: white;
  font-size: 35px;
}

.home-container {
  display: flex;
}

.text-left {
  flex: 1;
  padding: 20px;
  font-family: "Josefin Sans";
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.img-right {
  flex: 1;
  justify-content: center;
  position: relative;
  text-align: center;
}

.btn-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Jolly Lodger", cursive;
  font-size: 25px;
  border: #443c68;
  border-radius: 30px;
  font-weight: bold;
  fill: black;
  background-color: transparent;
}

.btn-menu:hover {
  background-color: #443c68;
  border-radius: 30px;
  font-weight: bold;
  fill: black;
}

img {
  padding: 10px;
  height: 250px;
  width: 300px;
}

.justify-center {
  justify-content: center;
}

.title-name {
  color: white;
  font-size: 45px;
  font-family: "Jolly Lodger", cursive;
}

.cart-icon {
  color: white;
}

.instagram-icon {
  color: #fa0196;
  height: 56px;
}

.instagram-icon:hover {
  color: white;
}

.twitter-icon {
  color: #2400fe;
  height: 56px;
}

.twitter-icon:hover {
  color: white;
}

.burger-item {
  border: 1px solid white;
  padding: 1px;
  border-radius: 10px;
  width: 100%;
}

.items-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.eatable {
  display: flex;
  justify-content: center;
  font-family: "Jolly Lodger", cursive, sans-serif;
  stroke: white;
  fill: white 100%;
}

.sides {
  display: flex;
  justify-content: center;
  font-family: "Jolly Lodger", cursive, sans-serif;
  stroke: white;
  fill: white 100%;
}

.drinks {
  display: flex;
  justify-content: center;
  font-family: "Jolly Lodger", cursive, sans-serif;
  stroke: white;
  fill: white 100%;
}

ul {
  list-style-type: none;
}
